.last{
    width: 100%;
    height: auto;
    justify-content: center;
    
background-image: url(img/syntechnxbackground.jpg);    }
    .full{
    width: 80%;
    display: inline-block;
    margin:2%;
    margin-left: 10%;
    text-align: center;
    background-color: skyblue;
    color: black;
    border:15px solid black;
    border-radius: 5px;
    margin-bottom: 8%;
    margin-top: 8%;
    }
    .full h3{
    font-size: 2rem;
    display:block;
    margin: 2%;
    margin-bottom: 0;
    }
    .lt{
    padding: 2%;
    margin: 2%;
    }
    .rt{
    padding: 2%;
    margin: 2%;
    }
    .lt textarea{
    width: 100%;
    margin-left: 2.8%;
    }
    button{
    margin: 2%;
    }
    .btn-primary{
    background-color: black;
    border: 2px solid white;
    border-radius: 5%;
    }
    .list-item{
    margin-bottom: 2%;
    list-style-type: none;
    }
    .list-item span{
    margin-left: 10px;
    font-size: 1.4rem;
    }
    .list-item a{
    color: white;
    display: inline-block;
    }
    .list-item a:hover{
    text-decoration: underline;
    }
    .form-control{
    background-color: white;
    }
   
        
    @media screen and (min-width: 770px){
    .full{
        width: 70%;
        margin-left: 15%;
    }
    .lt textarea{
    width: 95%;
    margin-left: 2.4%;
    }
    }
        
    @media screen and (min-width: 1100px){
    .full{
        width: 65%;
        margin-left: 17%;
        margin-top: 5%;
    }
    .lt{
        width: 55%;
        display: inline-block;
        float: none;
        margin-right: 0;
    }
    .rt{
        width: 35%;
        display: inline-block;
        margin-left: 0;
    }
    .list-item{
    margin-bottom: 10%;
    }
    .contact-list{
        margin-top: 22%;
        padding-right: 8%;
    }
    .fa-envelope, .gmail{
        display: inline-block;
        width: auto;
    }
    }
    * {box-sizing: border-box;
        transition: all .2s linear;}
       
       body {
         margin: 0; 
        
           font-family: var(--font);
           font-weight: var(--fontOrigin);
           font-size: 1rem;
           line-height: 1.2;
           letter-spacing: 0.005rem;
           -webkit-font-smoothing: subpixel-antialiased;
          
         
       }
       .topnav {
        overflow: hidden;
        background-color:black;
        z-index: 1000;
        padding: 1rem;
       
        
      }
      
      .topnav a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        
      }
      .topnav a:hover {
        background-color:#ddd;
        color: rgb(246, 244, 244);
      }
      
      .topnav a.active {
        background-color: #2196F3;
        color:white;
      }
      
      .topnav input[type=text] {
        float: right;
        padding: 6px;
        margin-top: 8px;
        margin-right: 16px;
        border: none;
        font-size: 17px;
      }
      
      
.dropdown {
    position:absolute;
    overflow: visible;
    text-align: right;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;  
    border: none;
    outline: none;
    color:white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .topnav a:hover, .dropdown:hover .dropbtn {
    background-color: black;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
  }
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color:gray;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  

  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    color: white;
   
  }
  

.fa-bars{
    visibility: hidden;
    }
    footer {
        padding: 65px;
        margin-top: 27px;
        color: #ffffff;
        background-color: #020001;
        text-align: -webkit-center;
        float: left;
        width: 100%;
        display: flow-root;
       }
       footer a{
        color: white;
        text-decoration: none;
       }
       /* GLOBAL VARIABLES */
:root {
    --font: "Roboto", sans-serif;
    --fontOrigin: 1rem;     /* 16px */
    --fontSmall: 0.625em;   /* 10px */
    --fontMedium: 0.875em;  /* 14px */
    --fontNormal: 1em;      /* 16px */
    --fontLarge:  1.375em;  /* 22px */
    --fontLight: 100;
    --fontRegular: 400;
    --speed: 0.65s;
  }
  
  
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav div:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
     
      padding: 5px;
    
    }
    .fa-bars{
      visibility: visible;
    }
  }
  @media screen and (max-width: 600px) {
    .topnav.responsive {position:relative;
    display: grid;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav.responsive div{
      float: none;
      display:table-column;
      position: relative;
      text-align: left;
      
    }
    .list-item span {
      margin-left: 19px;
      font-size: small;
  }
  }

  
  
  
      
