* {box-sizing: border-box;
    transition: all .2s linear;}
    body {
      margin: 0; 
        font-family: var(--font);
        font-weight: var(--fontOrigin);
        font-size: 1rem;
        line-height: 1.2;
        letter-spacing: 0.005rem;
        -webkit-font-smoothing: subpixel-antialiased;
       
      
    }
   
   .topnav {
     overflow: hidden;
     background-color:black;
     z-index: 1000;
     padding: 1rem;
   }
   
   .topnav a {
     float: left;
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
     
   }
   
   .topnav a:hover {
     background-color:#ddd;
     color: rgb(246, 244, 244);
   }
   
   .topnav a.active {
     background-color: #2196F3;
     color:white;
   }
   
   .topnav input[type=text] {
     float: right;
     padding: 6px;
     margin-top: 8px;
     margin-right: 16px;
     border: none;
     font-size: 17px;
   }
   
   
   
   .dropdown {
     float: left;
     overflow: hidden;
   }
   
   .dropdown .dropbtn {
     font-size: 17px;  
     border: none;
     outline: none;
     color:white;
     padding: 14px 16px;
     background-color: inherit;
     font-family: inherit;
     margin: 0;
   }
   
   
   
   .topnav a:hover, .dropdown:hover .dropbtn {
     background-color: black;
   }
   
   .dropdown-content {
     display: none;
     position: absolute;
     background-color: black;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
   }
   
   .dropdown-content a {
     float: none;
     color: white;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
   }
   
   .dropdown-content a:hover {
     background-color:gray;
   }
   
   .dropdown:hover .dropdown-content {
     display: block;
   }
   
   
   .fa {
    
     font-size: 10px;
     width: 20px;
     text-align: center;
     text-decoration: none;
     margin: 4px 2px;
     
   }
   
   .fa:hover {
       opacity: 0.7;
   }
   
   .fa-facebook {
     background: #3B5998;
     color: white;
   }
   .fa-google {
     background: #dd4b39;
     color: white;
   }
   
   .fa-linkedin {
     color: white;
   }
   
   
   .fa-bars{
   visibility: hidden;
   }
   img {
     max-width: 100%;
     opacity: 100%;
     height: auto;
   }
   
     .container {
       position: relative;
       text-align: center;
       color: black;
       font-size:50px;
       font-family:monospace;
       font-weight: bold;
       text-shadow: 2px 2px 0px red;
 
     
     
     }
     .centered {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
     }
   
     .container1 {
       position: relative;
       padding: 10px 90px;
       color: black;
       font-size:20px;
       font-family:Verdana, Geneva, Tahoma, sans-serif;
    
       text-align:justify;
     
     }
   
   
     .container2{
       position:relative;
       width: 25%;
       display: grid;
       float: left;
      justify-items: center;
    
      
     }
   
   
   .container3{
     position:relative;
     width: 100%;
     display:block;
     float: left;
     padding: 50px;
    justify-items: center;
  
   }
   
   
   
     .image2{
       display: block;
       width: 50%;
       height: 200px;
       padding:20px;
     }
     .overlay {
       position: absolute;
       bottom: 100%;
       left: 0;
       right: 0;
       background-color: #008CBA;
       overflow: hidden;
       width: 100%;
       height: 0;
       transition: .5s ease;
     
    
      
       
     }
     
     .container2:hover .overlay {
       bottom: 0;
       height: 100%;
       justify-content: center;
   
       
     }
     .text2 {
       
       color: white;
       font-size: 20px;
       position: absolute;
       overflow: hidden;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       -ms-transform: translate(-50%, -50%);
     }
   
     .btn {
       display: inline-block;
       font-size: 1.7rem;
       color: #fff;
       background: black;
       border-radius: 10rem;
       cursor: pointer;
       padding: .8rem 3rem;
       text-decoration: none;
   }
   
   .btn:hover {
       background: red;
       letter-spacing: .1rem;
   }
   
   footer {
    padding: 65px;
    margin-top: 27px;
    color: #ffffff;
    background-color: #020001;
    text-align: -webkit-center;
  display: flow-root;
    width: 100%;
   }
  
  footer a{
   color: white;
   text-decoration: none;
  }
   
/* GLOBAL VARIABLES */
:root {
  --font: "Roboto", sans-serif;
  --fontOrigin: 1rem;     /* 16px */
  --fontSmall: 0.625em;   /* 10px */
  --fontMedium: 0.875em;  /* 14px */
  --fontNormal: 1em;      /* 16px */
  --fontLarge:  1.375em;  /* 22px */
  --fontLight: 100;
  --fontRegular: 400;
  --speed: 0.65s;
}

@keyframes zoom {
  from {
    object-position: 0 50%;
  }
  to {
    object-position: 100% 50%;
  }
}

@keyframes blur {
  from {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(2, 2);
  }
}




.wrapper {
  display: table-cell;
  grid-template-columns: repeat( auto-fit, 1fr );
  grid-template-rows: auto;
 
  width: 50vh;
  min-height: 100vh;
  padding-top: 10px;
  padding-bottom: 10px;
 padding-left: 10px;
}



.card {
  position: relative;
  grid-area: card;
  align-self: center;
  justify-self: center;
  overflow: hidden;
  display: block;
  width: 100%;
  max-width: 250px;
  height: 400px;
  font-size: var(--fontOrigin);
  border-radius: 8px;
  box-shadow: 0 16px 60px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card:hover {
  box-shadow: 0 40px 130px rgba(0, 0, 0, 0.6);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.card__save {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 35px;
  height: 35px;
  background: transparent;
  border: 0;
  opacity: 0;
  border-radius: 3px;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card__save:focus {
  outline: 0;
  background-color: rgba(255, 255, 255, 0);
}

.card:hover .card__save {
  opacity: 0.6;
}

.card__save i {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card__save:hover i {
  color: rgba(255, 255, 255, 0.8);
}

.card__save:active,
.card__save.active {
  opacity: 1 !important;
}

.card__save:active i,
.card__save.active i {
  color: white;
}

.card__image {
  position: absolute;
  top: -21px;
  left: -43px;
  z-index: -1;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
}

.card__image img {
  -webkit-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
  animation-name: zoom;
  animation-duration: 30s;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.card:hover .card__image img {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity: 0.5;
}

.card__header {
  display: grid;
  width: 100%;
  height: 100px;
}

.card__profile {
  align-self: center;
  justify-self: center;
  display: block;
  overflow: hidden;
  width: 10vmax;
  height: 10vmax;
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}

.card__profile img {
  -webkit-transform: scale(1.5, 1.5)  translateZ(0);
  transform: scale(1.5, 1.5)  translateZ(0);
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  -webkit-filter: grayscale(50%) contrast(75%) brightness(1.3);
  filter: grayscale(50%) contrast(75%) brightness(1.3);
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
  mix-blend-mode: normal;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card:hover .card__profile img {
  -webkit-transform: scale(1, 1)  translateZ(0);
  transform: scale(1, 1)  translateZ(0);
}

.card__body {
  display: grid;
  padding: 0 20px;
}

.card__name {
  align-self: center;
  justify-self: center;
  margin-bottom: 2px;
  color: white;
  font-size: var(--fontLarge);
  font-weight: var(--fontLight);
  letter-spacing: 0.1rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card:hover .card__name {
  -webkit-text-fill-color:#ddd;
}

.card__job {
  align-self: center;
  justify-self: center;
  display: inline-block;
  font-size: var(--fontSmall);
  font-weight: var(--fontLight);
  text-align: center;
  letter-spacing: 0.35rem;
  color:aqua;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card:hover .card__job {
  color: rgba(100, 130, 200, 1);
}

.card__bio {
  position: relative;
  -webkit-transform: translateY(30%);
  transform: translateY(30%);
  display: block;
  margin: 22px 0 16px 0;
  font-size: var(--fontSmall);
  font-weight: var(--fontLight);
  /*text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.35);*/
  color: rgba(255, 255, 255, 0.65);
  opacity: 0;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card:hover .card__bio {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.card__footer {
  position: relative;
  -webkit-transform: translateY(60%);
  transform: translateY(60%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "date category";
  padding: 10px 20px;
  opacity: 0;
  -webkit-transition: all var(--speed) ease;
  transition: all var(--speed) ease;
}

.card:hover .card__footer {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.card__date {
  grid-area: date;
  display: inline-block;
  align-self: left;
  justify-self: left;
  font-size: var(--fontSmall);
  font-weight: var(--fontLight);
  text-transform: uppercase;
  text-shadow: 0 0.5px 1px rgba(0, 0, 0, 0.45);
  color: rgba(250, 250, 250, 0.4);
}

/* MODIFIERS */
.card[data-effect="blur"]:hover .card__image img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.card[data-effect="blur"] .card__image img {
  animation-name: blur;
}

.card[data-effect="color"]:hover {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  box-shadow: 0 40px 260px rgba(255, 0, 0, 0.1), 0 40px 130px rgba(250, 100, 100, 0.2), -80px -40px 230px rgba(0, 200, 250, 0.15), 80px 40px 230px rgba(120, 120, 255, 0.15);
}

.card[data-effect="color"] .card__image {
  background: linear-gradient(to bottom, rgba(20, 20, 100, 1), rgba(255, 100, 100, 0.5))
}

.card[data-effect="color"]:hover .card__image img {
  opacity: 0.8;
}

.card[data-effect="color"]:hover .card__profile img {
  -webkit-filter: grayscale(50%) contrast(80%) brightness(1.6);
  filter: grayscale(50%) contrast(80%) brightness(1.6);
  mix-blend-mode: normal;
}
.text3{
  color: #020001;
  font-size: medium;
  left: 20%;
  top: 81%;
  position: absolute;
}

   
   
   
   
   
     /*media queries */
   /*
   @media screen and (max-width: 600px) {
     .topnav a, .topnav input[type=text] {
       float: none;
       display: block;
       text-align: left;
       width: 100%;
       margin: 0;
       padding: 10px;
     }
     
     .topnav input[type=text] {
       border: 1px solid #ccc;  
     }
   }
   
   @media screen and (max-width: 768px) {
     .topnav a, .topnav input[type=text] {
       float: none;
       display: block;
       text-align: left;
       width: 100%;
       margin: 0;
       padding: 10px;
     }
     
     .topnav input[type=text] {
       border: 1px solid #ccc;  
     }
   }*/
   
   
   @media screen and (max-width: 600px) {
     .topnav a:not(:first-child) {display: none;}
     .topnav div:not(:first-child) {display: none;}
     .topnav a.icon {
       float: right;
       display: block;
      
       padding: 5px;
     
     }
     .fa-bars{
       visibility: visible;
     }
   }
   
   
   @media screen and (max-width: 600px) {
     .topnav.responsive {position:relative;
     display: grid;}
     .topnav.responsive .icon {
       position: absolute;
       right: 0;
       top: 0;
     }
     .topnav.responsive a {
       float: none;
       display: block;
       text-align: left;
     }
     .topnav.responsive div{
       float: none;
       display:table-column;
              position: relative;
       text-align: left;
       
     }
     .image2{
       width: 100%;
     }
     .text2{
     font-size: small;
     }
     .container{
       background-position: 50%;
       font-size: 50px;
     }
     .centered{
       font-size:large;
     }
     .container1{
      font-size: small;
      padding: 20px;
     }
     .container4{
     font-size: small;
     }
     footer{
      font-size: small;
          }
      .btn{
      font-size: small;
      }
      .wrapper{
    display: flex;
    grid-template-columns: repeat( auto-fit, 1fr );
    grid-template-rows: auto;
    width: 50vh;
    min-height: 74vh;
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 24px;
      }
      .text3{
        font-size: x-small;
      }
   }
   
